* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", system-ui, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  word-spacing: 3px;
  background-color: var(--bg-color);
  color: var(--text-color);
  color-scheme: var(--tg-color-scheme, "dark");
}
strong {
  font-weight: 400;
  color: var(--acent-color);
}

h1 {
  font-size: 4dvh;
  font-weight: 500;
  line-height: 1.1;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--acent-color);
}

h2 {
  font-size: 3dvh;
  font-weight: 500;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 5px;
  padding-bottom: 10px;
}

ol {
  padding-left: 25px;
  padding-bottom: 10px;
}

ul li::before {
  content: "–";
  padding-right: 10px;
  line-height: 1.8;
}

p {
  padding-bottom: 10px;
}

section {
  position: relative;
  width: 100%;
  margin: 20px 0;
}
section label {
  position: absolute;
  top: -8px;
  left: 12px;
  background: var(--bg-color);
  padding: 0 4px;
  font-size: 12px;
  color: var(--acent-color);
  pointer-events: none;
  z-index: 1;
}

input,
select {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--line-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--bg-color);
  outline: none;
  vertical-align: middle;
}

input:hover,
input:focus {
  border: 1px solid var(--acent-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

section input:placeholder-shown + label {
  display: none;
}

.delete {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  vertical-align: middle;
  color: var(--text-color);
  opacity: 0.7;

  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.delete:hover {
  background-color: var(--bg-color);
}

.who > :last-child .delete,
#forms > :last-child label ~ .delete {
  display: none;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 4px 6px (0, 0, 0, 0.1);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* .checkbox {
  position: relative;
}

.checkbox input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.box {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(200, 200, 200, 0.3);
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 8px;
}

.checkbox:hover .box {
  border-color: var(--acent-color);
}

.checkbox input:checked + .box {
  background-color: var(--acent-color);
  border-color: var(--acent-color);
}

.checkbox input:checked + .box::after {
  content: "✓";
  color: var(--text-color);
  font-size: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
} */
